{% extends 'layouts/base.html' %}
{% extends 'bloqueAcciones.html' %}
{% block content %}

<div class="container d-flex justify-content-center">
    <div class="col-8 p-3">
        <div class="border rounded p-3">
            <div class="col-12 sanserif">

                <h4 class="serif mb-3">Editar Usuario</h4>

            <form method="POST" enctype="multipart/form-data">
                {% csrf_token %}

                <div class="form-group">

                    {{formulario.as_p}}

                </div>
            
                <button class="btn btn-primary mt-3 mb-2">
                    Enviar
                </button>

                <button class="btn btn-primary mt-3 mb-2"><a class="text-decoration-none text-white" href="{% url 'editarUsuarios' %}">Volver</a></button>
            </form>

        </div>
        </div>
    </div>
</div>

{% endblock %}