{% extends 'layouts/base.html' %}
{% block content %}

<div class="container d-flex flex-wrap">

{% for usuario in usuarios %}

<div class="d-flex flex-column col-md-3 col-12 p-3 rounded product-block">
    <div class="card p-3">
        <div class="d-flex flex-column align-items-center">

            {% with usuario.avatar_set.first as avatar %}

            {% if avatar %}

            <img class="w-75 rounded-circle" src="{{avatar.imagen.url}}" alt="imagen de perfil">

            {% else %}

            <img class="w-75 rounded-circle" src="/media/avatar/Alberto-Echeverria.jpg" alt="imagen de perfil">

            {% endif %}

            {% endwith %}

            <h2 class="mt-3 serif">{{usuario.username}}</h2>
        </div>
        <ul class="list-unstyled pt-3 px-3">
            <li class="mb-2 sanserif"><i class="fa-solid fa-user me-2"></i>{%if usuario.first_name%}{{usuario.first_name}} {{usuario.last_name}}{%else%}<p class="text-danger d-inline">falta rellenar</p>{%endif%}</li>
            <li class="mb-2 sanserif text-truncate"><i class="fa-solid fa-envelope me-2"></i>{%if usuario.email%}{{usuario.email}}{%else%}<p class="text-danger d-inline">falta rellenar</p>{%endif%}</li>  
        </ul> 
        <div class="d-flex align-items-center justify-content-evenly">
            <button class="btn btn-primary rounded"><a href="{% url 'eliminarMiUsuario' usuario.username %}" class="text-decoration-none text-white">Eliminar Perfil</a></button>
            <button class="btn btn-primary rounded"><a href="{% url 'editarMiUsuarioIndividual' usuario.username %}" class="text-decoration-none text-white">Editar Perfil</a></button>
        </div>
    </div>
</div>

{% endfor %}

</div>

{% endblock %}