{% extends 'layouts/base.html' %}
{% block content %}

<div class="container mt-5 mb-5">
    <div class="card">
        <div class="card-body">
            <div class="row">
                <div class="col-lg-5 col-md-5 col-sm-6">
                    <div class="white-box text-center"><img src="{{publicaciones.imagen.url}}" class="img-responsive w-100"></div>
                </div>
                <div class="col-lg-6 col-md-7 col-sm-6 d-flex flex-column justify-content-between ms-3">
                    <div>
                        <h1 class="mt-4 serif">publicaciones.titulo</h1>
                        <h4 class="box-title mt-5 serif">Descripción</h4>
                        <p class="sanserif">{{publicaciones.cuerpo}}</p>
                    </div>
                    
                    <div>
                        <h3 class="box-title mt-5 serif">Información</h3>
                        <ul class="list-unstyled">
                            <li class="sanserif">Autor: {{publicaciones.autor}}</li>
                            <li class="sanserif">Fecha: {{publicaciones.fecha}}</li>
                        </ul>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}