{% extends 'layouts/base.html' %}
{% block content %}
<div class="container">

    <div class="d-flex justify-content-center">
    <button class="btn btn-primary rounded mt-5 escala"><a class="text-decoration-none text-white" href="{% url 'paginasCrear' %}">Agregar Páginas</a></button>
    </div>
    <section class="mt-5">

    <h1 class="serif">Vista de Publicaciones</h1>

    <div class="container mt-5 mb-5 d-flex flex-wrap">

    {% if object_list %}

    {% for publicacion in object_list %}

    <div class="d-flex flex-column col-md-4 col-6 p-3 rounded product-block escala">

        <div class="card">

            <div class="text-dark text-decoration-none">
                <div class='cursor-pointer'>

                    <img class='mb-3 w-100' style="height: 300px;" src="{{publicacion.imagen.url}}" alt='Producto' />
                    
                    <h3 class='text-truncate ms-3'>{{publicacion.titulo}}</h3>
                    <h5 class='text-truncate ms-3'>{{publicacion.subtitulo}}</h5>

                </div>
            </div>

            <hr/>

            <div class="mt-auto">

                        <div class='d-flex m-3'>

                            <p style="overflow: hidden; 
                            text-overflow: ellipsis; 
                            display: -webkit-box; 
                            -webkit-line-clamp: 5;
                            -webkit-box-orient: vertical;">{{publicacion.cuerpo}}</p>

                            <!-- <small class='col-6 d-flex justify-content-center text-muted'>De {{publicacion.autor}}</small> -->

                        </div>

                        <div class='d-flex justify-content-end m-3'>

                            <button class="btn btn-primary me-2"><a class="text-decoration-none text-white" href="{% url 'DetallePublicacion' publicacion.id %}">Leer más</a></button>
                            <button class="btn btn-primary me-2">
                                <a class="text-decoration-none text-white" href="{% url 'paginasEditar' publicacion.id %}">Editar</a>
                            </button>
                            <button class="btn btn-primary">
                                <a class="text-decoration-none text-white" href="{% url 'paginasEliminar' publicacion.id %}">Eliminar</a>
                            </button>

                        </div>

            </div>
        </div>
    </div>

    {% endfor %}

    {%else%}

    <h4 class="sanserif">No hay publicaciones para ver. Intentá en otro momento.</h4>

    {% endif %}
    </div>
    </section>
</div>
{% endblock %}